@charset "UTF-8";

html {
  height: 100%;
}

body,
.main {
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

/************************************************************/
/*		ZONE NOIRE											*/
/************************************************************/
.blackArea {
	position: relative;
	width: 50%;
	height: 100%;
	min-height: 100%;
	background-color: #1a191c;
	float: left;

	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	transform-style: preserve-3d;
}

.blackArea .content {
	padding: 0 30px;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.blackArea .content .logo {

}

.blackArea .menu {
	margin-top : 220px;
	padding-left : 0;
	width : 100%;
	visibility: hidden;
}

.blackArea .menu .link {
	color: #444444;
	background-color: #1a191c;
}

.blackArea .menu .menuTrait {
	background-color: #444444;
}



/************************************************************/
/*		ZONE BLANCHE										*/
/************************************************************/
.whiteArea {
	width: 50%;
  	height: 100%;
  	background-color: #FFF;
  	float: right;
  	position: relative;
}

.whiteArea .content {
	padding: 0 30px;
	position: relative;
	top: 50%;
  	transform: translateY(-50%);
  	text-align: left;
}

.whiteArea .menu {
	width: 300px;
}

.whiteArea .menu .link {
	color: #1a191c;
	background-color: #FFF;
}

.whiteArea .menu .menuTrait {
	background-color: #464546;
}



/************************************************************/
/*		MENU												*/
/************************************************************/
.menu .li {
	padding: 0px 0;
	display: block;
	height: 0.8em;
	margin: 2px 0;
}

.menu .link {
	padding: 0 3px;
	position: relative;
	z-index: 1;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.6em;
	text-transform: uppercase;
	font-weight: bold;
	color: #464546;
}

.menu .menuTrait {
	z-index: 0;
	margin-top: -8px;
	height: 0.4em;
	position: relative;
	width: 100%;
	transform: translateY(-50%);
}
